/* You can add global styles to this file, and also import other style files */
body {
    background: #cedce7;
    background: -moz-linear-gradient(top,  #cedce7 0%, #596a72 100%);
    background: -webkit-linear-gradient(top,  #cedce7 0%,#596a72 100%);
    background: linear-gradient(to bottom,  #cedce7 0%,#596a72 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 );

    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
} 

html {
    height: 100%;
}

/* iPhone 5 */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
        font-size: 0.3em !important;
    }
}

/* iPhone 6 */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
    html {
        font-size: 0.4em !important;
    }
}

/* iPad */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {
    html {
        font-size: 0.8em !important;
    }
}