.profile-links {
  padding-left: 25px;
  padding-top: 150px;
}

.profile-title {
  padding-top: 100px;
}

.profile-link {
  padding-right: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

.typewriter {
  font-family: "Courier New", Courier, monospace;
  display: inline-block;

  h1 {
    display: inline-block;
    overflow: hidden;
    letter-spacing: 2px;
    animation: typing 5s steps(30, end), blink .75s step-end infinite;
    white-space: nowrap;
    border-right: 4px solid #FFA500;
    box-sizing: border-box;
  }
}

@keyframes typing {
  from { 
      width: 0% 
  }
  to { 
      width: 100% 
  }
}

@keyframes blink {
  from, to { 
      border-color: transparent 
  }
  50% { 
      border-color: orange; 
  }
}