<!--The content below is only a placeholder and can be replaced.-->

  <div class="starter-template">
    <div class="page-header text-center profile-title">
      <div class="typewriter">
        <h1>{{ title }}</h1>
      </div>
    </div>
    <div class="d-flex justify-content-center profile-links">
      <a target="_blank" class="profile-link" rel="noopener" href="https://gitlab.com/danjbrown" aria-label="GitLab">
        <fa-icon size="4x" [icon]="['fab', 'gitlab']"></fa-icon>
      </a>
      <a target="_blank" class="profile-link" rel="noopener" href="https://github.com/danjbrown" aria-label="GitHub">
        <fa-icon size="4x" [icon]="['fab', 'github']"></fa-icon>
      </a>
      <a target="_blank" class="profile-link" rel="noopener" href="https://uk.linkedin.com/in/danbrownsoftwareengineer" aria-label="LinkedIn">
        <fa-icon size="4x" [icon]="['fab', 'linkedin']"></fa-icon>
      </a>
    </div>
  </div>

<router-outlet></router-outlet>
<app-footer></app-footer>
